/* Tablets (вертикальная и горизонтальная) ----------- */
@media only screen and (max-width: 1020px) {

  body{
    position: relative;
  }


  // HEADER=========
  .header{
    padding: 0 10px;

    &-nav{
      &__items{
        display: none;
      }
    }

    &-contact{
      &__socials{
        display: none;
      }

      &__menu{
        @include flexbox;
        width: 20px;
        height: 20px;
        background: transparent;
        cursor: pointer;

        &:focus{
          outline: none;
        }
        >i{
          font-size: 1.2em;
          color: $font-global-color;
        }

      }
    }
  }
  // end HEADER========


  //CONTAINER ==============
  .title{
    margin: 100px 0 60px;
    h1{
      font-size: 2em;
    }
  }

  .container{
    flex-direction: column;
    flex-wrap: nowrap;
    width: 96%;
    padding: 14px;
  }

  .intro_menu{
    width: 100%;

    h2{
      font-size: 1.6em;
    }

    .grid{
      padding: 10px;

      p, span{
        font-size: 1.1em;
        line-height: 1em;
      }
    }

  }
  // end CONTAINER ==============


  // FOOTER==========
  .footer{
    height: auto;
    padding: 20px;

    &-nav{
      &__items{
        >li{
          padding: 0 5px;
          >a{
            font-size: 0.8em;
            line-height: 1;
          }
        }
      }
    }

    &-logo{
      width: 40%;

      p{
        text-align: right;
        font-weight: 500;
        font-size: 1em;
        line-height: 1.2em;
      }
    }
  }

  // end FOOTER==========






  // MENU===========
  .menu{
    @include flexbox;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .close-animatedModal{
      position: absolute;
      top: 20px;
      right: 20px;

      width: 40px;
      height: 40px;
      border: 1px solid $menu-btn-color;
      border-radius: 50%;
      text-align: center;
      cursor: pointer;
      background: transparent;

      >i{
        font-size: 1.3em;
        line-height: 40px;
      }
    }

    .nav{
      position: absolute;
      border: 1px solid $menu-btn-color;
      border-radius: 50%;
      text-align: center;
      cursor: pointer;
      background: transparent;
      @include transition;
    }

    .nav-socials-1{
      bottom: 160px;
      right: 20px;
      width: 40px;
      height: 40px;

      >i{
        font-size: 1.1em;
        line-height: 40px;
      }
    }

    .nav-socials-2{
      bottom: 100px;
      right: 20px;
      width: 40px;
      height: 40px;

      >i{
        font-size: 1.1em;
        line-height: 40px;
      }
    }

    .nav-phone-number{
      bottom: 20px;
      right: 20px;
      width: 60px;
      height:60px;

      >i{
        font-size: 1.5em;
        line-height: 60px;
      }
    }

    .modal-content{
      @include boxsizing;
      .menu__items{
        @include boxsizing;

        >li{
          padding: 20px 60px;
          border-bottom: 2px solid #fff;
          text-align: center;
          @include transition;

          a{
            color: #fff;
            font-weight: 700;
            font-size: 1.4em;
            line-height: 1.4em;
            @include transition;
          }

          &:hover a{
            color: #000;
          }

          &:hover{
            border-bottom: 2px solid $menu-btn-color;
            background-color: $menu-btn-color;
          }
        }
      }
    }
  }
  // end MENU===========


  .popupmodal{
    display: none;
  }
}


/* Smartphones (вертикальная и горизонтальная ориентация) ----------- */
@media only screen and (max-width : 480px) {

  // HEADER=========
  .header{
    height: 50px;
  }
  // end HEADER========



  //CONTAINER ==============
  .title{
    h1{
      font-size: 1.6em;
    }
  }

  .container{
    padding: 6px;
  }

  .intro_menu{
    h2{
      font-size: 1.2em;
      padding: 6px 0;
    }

    .grid{
      padding: 4px;

      p, span{
        font-size: 0.9em;
        line-height: 1.1em;
      }
    }

  }
  // end CONTAINER ==============








  // FOOTER==========
  .footer{
    padding: 10px;

    &-nav{
      &__items{
        flex-direction: column;

        >li{
          padding: 5px;
        }
      }
    }

    &-logo{
      width: 50%;
    }
  }
  // end FOOTER==========


  // MENU===========

  // end MENU===========


  .popupmodal{
    display: none;
  }
}
